<!DOCTYPE html>
<html class="easymode">
  <head>
    <link rel="icon" href="/static/images/favicon.jpg?v=001">
    <title>The Bipedal Approach</title>
    <link type="text/css" rel="stylesheet" href="/static/css/blog.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a id="easy" href="#">Easy mode</a>
      <a id="hard" href="#">Hard mode</a>
    </header>
    <div class="content">
      <h1>{{.User.Name}}</h1>
      <div class="bipedaler-posts posts">
        <h2>Posts</h2>
        {{range .Posts}}
        <a href="/blog/post/{{.PostID}}">{{.Title}}</a>
        {{end}}
      </div>
    </div>
    <script src="/static/scripts/mode.js"></script>
  </body>
</html>
